* {
  box-sizing: border-box;
}

body {
  margin: 0 0.2rem;
}

html {
  font-size: 62.5%;
}

nav {
  background-image: url("../images/mountain2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15rem;
}

.top-nav {
  display: flex;
  position: relative;
  left: 10%;
  top: 5rem;
  width: 70%;
  height: 4rem;
  background-image: url("../images/nav-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}

.apple,
.menu-div {
  border: 0.05rem solid #666;
  color: #fff;
  width: 10rem;
}

.search {
  width: 12rem;
  position: relative;
}

.menu-div p {
  position: relative;
  top: 25%;
  left: 34%;
  font-size: 1.4rem;
}

.menu-div:nth-child(8) p {
  left: 20%;
}

.menu-div:nth-child(7) p {
  left: 30%;
}

.menu-div:nth-child(6) p {
  left: 20%;
}

.search div {
  border: 0.07rem solid #666;
  width: 80%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem;
  padding: 0.3rem 0 0 0.3rem;
}

.search input {
  width: 90%;
  position: absolute;
  background: inherit;
  height: 2.5rem;
  top: 0.8rem;
  left: 1.2rem;
  border-radius: 1rem;
  border-color: #696969;
}

.search i {
  position: absolute;
  top: 1.2rem;
  left: 1.8rem;
  z-index: 9;
  color: #fff;
}

.menu-div:hover {
  cursor: pointer;
  background: radial-gradient(circle at center, #282c35, #696969);
}

.apple:hover {
  cursor: pointer;
  background: radial-gradient(circle at center, #282c35, #696969);
}

.apple img {
  position: relative;
  top: 20%;
  left: 5%;
  width: 10rem;
}

.search input:focus {
  background: #fff;
}

.search div:hover {
  cursor: text;
}

.mid-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: #fff;
  padding-top: 8rem;
}

.top {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.top:hover {
  cursor: pointer;
}

.middle {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 100;
}

.middle:hover {
  cursor: pointer;
}

.bottom {
  font-size: 2.5rem;
  font-weight: 100;
}

.bottom:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  margin: 2rem 0 0.5rem 0;
}

.top-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.3rem;
  grid-auto-rows: minmax(25rem, auto);
  margin: 0.2rem 0 0 0.1rem;
}

.top-footer div:hover {
  cursor: pointer;
}

.i-s {
  background-image: url("../images/i-s.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.top-footer span {
  font-size: 2.2rem;
}

.i-c {
  background-image: url("../images/i-c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mac {
  background-image: url("../images/b-day-mac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.responsibility {
  background-image: url("../images/supplier-resp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.float {
  float: left;
}

.clear {
  clear: left;
}

.bottom-footer {
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
}

.info {
  position: absolute;
  right: 15%;
  top: 0;
}

.shop-details {
  position: inherit;
  left: 10%;
}

.shop-details a:hover {
  text-decoration: underline;
}

.info small:hover {
  text-decoration: underline;
}
